<!DOCTYPE html>
<head>
</head>
<body>
  <div class = 'backimage'>
    <div class = introduction-text2>
      <div class = message5>Welcome to MyBlog</div>
      <%= link_to("http://localhost:3000/reports") do  %>
      <div class = 'mainbotton'>
        Blog List 
      <div>
      <% end %>
    </div>
    
  </div>
  
</body>
