// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.introduction-text2{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),url('back.jpg');
  background-size: 130% 150%;
  position: abusolute;
  top:50vh;
  .message5{
    width: auto;
    height: auto;
    padding-top: 240px;
    text-align: center;
    font-size: 45px;
    font-family: 'Noto Serif JP', sans-serif;
    color: white;
    }
  .mainbotton{
    text-align: center;
    margin:  30px 480px;
    font-size: 30px;
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 60px;
    border-radius: 20px;
    background: #ff99ff;
    a{
      color: white!important;
    }
    
  }
}