<div class = "contens row">
  <div class = "succsess">
    <h3>
      投稿が完了しました
    </h3>
  <a class = "btn" href = "/">トップにもどる</a>
  </div>
  <p>３秒後に自動ジャンプ<p>
  <META http-equiv="Refresh" content="3;URL=http://localhost:3000">
</div>
</div>  