<div class = "contents roe">
  <div class = "container">
    <%= form_tag('/reports', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder = "title" type = "string" name = "title">
      <textarea placeholder = "text" name = "text" cols = "500" row = "10"></textarea>
      <input type = "submit" value = "SENT">
    <% end %>
  </div>
</div>